<div class="product-counter-wrapper">
	<div class="product-counter"><span data-product-price="4.25" data-slot-id="75336" class="bold-product__quantity-decrease no-select bold-product__updown"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">-</font></font></span>
		<input data-product-price="4.25" data-addon="0" data-slot-inventory="no_inventory" data-slot-id="75336" class="bold-product__quantity-val flavor-qty" type="text" maxlength="2" value="0"><span data-product-price="4.25" data-slot-id="75336" class="bold-product__quantity-increase no-select bold-product__updown"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">+</font></font></span></div>
</div>